ENVIROMENT=LOCAL
NODE_ENV=development
LOG_LEVEL=debug
APP_NAME=ms-customerportal-bff
HTTP_PORT=3000

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PWD=123456
REDIS_USE_TLS=false
CACHE_DEFAULT_TTL_SECONDS=60

HTTP_TIMEOUT=5000
HTTP_MAX_REDIRECTS=3

CLIENT_MS_URL=http://localhost:3001
CLIENT_PORTFOLIO_MS_URL=http://localhost:3002

PORTAL_DETAIL_CACHE_TTL_SECONDS=3600
